body {
	font-family:open-sans,arial,sans-serif;
	margin:0px;
}

header {
	padding:0 5%;
	margin-bottom:50px;
	border-bottom:grey 1px solid;
}

nav {
	float:right;
}

nav a {
	padding-left:5px;
}

nav a:hover {
	color:gray;
}

a {
	text-decoration: none;
}

.nugget {
	width:20%;
	margin:0 5%;
	display:inline-block;
}

.nugget img {
	width:90%;
}

.nugget img:hover {
	opacity:.8;
	border-radius:5px;
}

footer {
	clear:both;
}

#footer-nav {
	padding:0 5%;
}

.connect-icon {
	width: 30px;
	margin-left:10px;
	margin-bottom:10px;
}

#footer-banner {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}

section p {
	margin:0 5%;
}

#about-me-pic {
	width:150px;
	margin:0 5%;
	float:left;
}

.blog-teaser {
	padding:5%;
}

.blog-teaser h1 {
	margin-top:0;
}

.blog-img {
	width:100px;
	float:left;
	margin-right:20px;
}

.blog-section-link {
	text-decoration:none;
	color:black;
}

.blog-section-link:hover {
	text-decoration:underline;
	color:green;
}